<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TravelPlanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>adasdasf.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0770FCBE1C0F61A800466EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0770FCD51C0F61A800466EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0770FCE01C0F61A800466EC8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0793F0001C37C3BD00BCCEC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0793F0161C37C3BD00BCCEC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0793F0211C37C3BD00BCCEC0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
